<h1>Popular News</h1>
<div class="popular-news">
    <div class="main-news" *ngFor="let newsItem of news">
      <img [src]="newsItem.imageUrl" *ngIf="newsItem.priority === 1">
      <h2>{{ newsItem.title }}</h2>
      <button class="read-more-btn">more</button>
    </div>
    <div class="right-container">
      <div class="second-news" *ngFor="let newsItem of news2">
        <img [src]="newsItem.imageUrl" *ngIf="newsItem.priority === 2">
        <h2>{{newsItem.title}}</h2>
        <button class="read-more">more</button>
      </div>
      <div class="third-news" *ngFor="let newsItem of news3">
        <img [src]="newsItem.imageUrl" *ngIf="newsItem.priority === 3">
        <h2>{{newsItem.title}}</h2>
        <button class="read-more">more</button>
      </div>
    </div>
  </div>
  