<header><div href="#" class="header-container">
        <ul class="header-options">
            <div class="logo">
                <ul class="logo-name">
                    <li class="B">B</li>
                    <li class="T">T</li>
                    <li class="N">N</li>
                    </ul>
                </div>
            <div class="navigations">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Log in</a></li>
            </div>
        </ul>
    </div>
</header>