header {
    display: flex;
    background-color: #7E848F;
}

li a {
    text-decoration: none;
}

.header-container{
    display: inline;
}

.header-options {
    display: flex;
}
.navigations{
    display: flex;
    font-weight:100;
    margin-left: 600px;
    padding-top: 28px;
}

.navigations li{
    display: flex;
    padding-right: 35px;
    font-size: 22px;
}

.logo-name{
    display: flex;
    margin-top: 5px;
    
}

.N{
    display: flex;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 30px;
    background-color: #879FC7;

}
.B{
    margin-right: 7px;
    display: flex;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 30px;
    background-color: #879FC7;

}

.T{
    display: flex;
    margin-right: 7px;
    padding-right: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    font-size: 30px;
    background-color: #76A4F5;
}

a {
    color:  black;
}

a:hover{
    color: white;
}

.logo{
    display: flex;
    justify-content: left;
}
